Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.next
.git
Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.next
.git
data
data_other
qdrant-storage*
postgres-data*
redis-data*
storage
env
*.zip